<script lang="ts">
    
    export let selected = false;

</script>


<!-- svelte-ignore a11y-click-events-have-key-events -->
<span
on:click
class="bg-blue-600 rounded   h-4 w-4 text-white font-black text-sm font-sans transform-gpu hover:rotate-6 transition duration-300 cursor-pointer flex flex-row items-center justify-center"
>
{selected ? '✓' : ''}
</span>