<script lang="ts">
  import { invoke } from '@tauri-apps/api/tauri';
  import { listen } from '@tauri-apps/api/event';
  import { IconTrash, IconRefresh } from '@tabler/icons-svelte';
  import { folders, gitIgnoreCount,  } from './stores';
  import { onDestroy, onMount } from 'svelte';

  async function deleteFolders() {
    const selected = $folders.filter((x) => x.selected);

    await invoke('delete_remenants', { folders: selected });

    const selectedPaths = selected.map((x) => x.path);
    folders.update((f) => f.filter((o) => !selectedPaths.includes(o.path)));
  }

  let promise: Promise<void>;
  let gitIgnoreFilesFound = 0;

  let unlisten: VoidFunction;

  onMount(async () => {
    unlisten = await listen('gitignore-event', (event: { payload: { message: string, path: string} }) => {
      gitIgnoreCount.update((c) => c += 1)
    })
  });

  onDestroy(() => {
    unlisten();
  });

  const onScanClick = () => {
    promise = deleteFolders();
  };
  $: selectedCount = $folders.filter(x => x.selected).length

</script>

<div class="flex justify-between items-center border-white border-t border-solid pt-4">
  <div >
    Git Ignore Files Found: {$gitIgnoreCount || 0}
  </div>
  <div 
    class:text-gray-600={!selectedCount }
    class:border-gray-600={!selectedCount}
    class:border-white={selectedCount}
    class="border border-solid rounded-md py-1 px-2">
    <button disabled={!selectedCount} class="flex gap-2" on:click={onScanClick}>
      Delete 
      {#await promise}
         <IconRefresh class="animate-spin" size={24} stroke={2} />
      {:then $folders}
        <IconTrash size={24} stroke={2} />
      {/await}
    </button>
  </div>
</div>
