<script lang="ts">
  import { invoke } from '@tauri-apps/api/tauri';
  import { open } from '@tauri-apps/api/dialog';
  import { homeDir } from '@tauri-apps/api/path';
  import type { IFolder } from './models';
  import { folders, directory, gitIgnoreCount } from './stores';
  import { IconFolder, IconSearch, IconRefresh } from '@tabler/icons-svelte';

  async function getFolders() {
    folders.update(() => []);
    gitIgnoreCount.update(() => 0);
    scanning = true;
    // Learn more about Tauri commands at https://tauri.app/v1/guides/features/command
    const result = await invoke<Array<IFolder>>('get_dev_remenants', {
      directory: $directory,
    });
    folders.update(() => result);
    scanning = false;
  }

  let promise: Promise<void>;
  let scanning = false;

  const onScanClick = () => {
    promise = getFolders();
  };

  const selectDirectory = async () => {
    let result = await open({
      directory: true,
      defaultPath: await homeDir(),
    });
    folders.update(() => []);
    gitIgnoreCount.update(() => 0);

    if (Array.isArray(result)) {
      directory.update(() => result[0]);
    } else {
      directory.update(() => result as string);
    }
  };
</script>

<div class="flex flex-col w-full gap-2 border-white border-b border-solid pb-4">
  <div class="flex justify-between items-center gap-2">
    <div class="flex gap-2 items-center">
      <div class="border border-solid rounded-md py-1 px-2"
        class:border-white={!scanning}
        class:border-gray-600={scanning}
        class:text-gray-600={scanning}
      >
        <button disabled={scanning} class="flex gap-2" on:click={selectDirectory}>
          Select Folder <IconFolder size={24} stroke={2} /></button
        >
      </div>
      {$directory ?? 'Not Selected'}
    </div>
    <div 
    class:text-gray-600={!$directory || scanning}
    class:border-gray-600={!$directory || scanning}
    class:border-white={$directory && !scanning}
    class="border border-solid rounded-md py-1 px-2">
    <button disabled={!$directory || scanning} class="flex gap-2" on:click={onScanClick}>
      Scan Folders 
      {#await promise}
      <IconRefresh
            class="animate-spin"
            size={24}
            stroke={2}
          />
      {:then $folders}
        <IconSearch size={24} stroke={2} />
      {/await}
      </button
    > 
    </div>
  </div>

  <div class="flex gap-2 justify-between items-center">
    <div>
      Dev Remenant Count: {$folders.length}
    </div>
    <div>
      Total Space: {$folders.reduce((p, c) => p + c.size.mb, 0).toFixed(1)} MB
    </div>
    <div>
      Selected Folders: {$folders.filter((x) => x.selected).length}
    </div>
    <div>
      Space Saving: {$folders
        .filter((x) => x.selected)
        .reduce((p, c) => p + c.size.mb, 0)
        .toFixed(1)} MB
    </div>
  </div>
</div>
