<script lang="ts">
  import { onDestroy, onMount } from 'svelte';
  import { folders, directory } from './stores';
  import type { IFolder } from './models';
    import Checkbox from './Checkbox.svelte';
    import { listen } from '@tauri-apps/api/event';

  let rows: IFolder[] = [];
  let unlisten: VoidFunction;

  const unsubscribe = folders.subscribe((value) => {
    rows = value;
  });

  const toggle = (i: number) => {
    folders.update((f) => [
      ...f.map((r, x) => (i == x ? { ...r, selected: !r.selected } : r)),
    ]);
  };

  onMount(async () => {
    unlisten = await listen('gitignore-folder-event', (event: { payload:  IFolder}) => {
      folders.update((c) => [
        ...c,
        event.payload
      ])
    })
  });

  onDestroy(() => {
    unlisten();
    unsubscribe();
  });
</script>

<div class="flex flex-col gap-1 flex-1 overflow-hidden">
  <div class="gap-4 flex-1 overflow-auto">
    {#each rows as folder, i}
      <button 
        on:click={() => toggle(i)}
        class="flex gap-5 items-center hover:bg-gray-700 w-full p-2 border-b border-gray-600">
        <Checkbox selected={folder.selected} />
        <div class="text-right whitespace-nowrap w-20">
          {folder.size.mb.toFixed(1)} MB
        </div>
        <div class="flex flex-col gap-2 text-left">
          <div><b>Directory:</b> {folder.path.replace(`${$directory}/`, '')} </div>
          <div class="text-gray-400 text-sm"><b>Ignored By:</b> {folder.ignore.replace(`${$directory}/`, '')}/.gitignore</div>
        </div>
      </button>
    {/each}
  </div>
</div>
