<script lang="ts">
    import { IconChevronDown, IconChevronUp } from "@tabler/icons-svelte";
    import Checkbox from "./Checkbox.svelte";
    import { platforms, type IPlatform } from "./models";

    export let expanded = false;
    let isDirty = false;

    const toggle = () => {
        expanded = !expanded;
        if(isDirty) {

        }
        isDirty = false;
    }

    const togglePlatform = (platform: IPlatform) => {
        isDirty = true;
        // if($selectedPlatforms.find(x => x.name === platform.name)) {
        //     selectedPlatforms.update((current: IPlatform[]) => current.filter(x => x.name !== platform.name));
        // } else {
        //     selectedPlatforms.update((current: IPlatform[]) => [
        //         ...current,
        //         platform
        //     ]);
        // }

        
    }

    // $: platformSelectText = !$selectedPlatforms.length ? 'Select Your Developer Platforms' 
    //                             : `Selected: ${$selectedPlatforms.map(x => x.name).slice(0, 3).join(', ')}${$selectedPlatforms.length > 3 ? ` + ${$selectedPlatforms.length -3} other(s)` : ''}`

</script>


<div class="relative flex-1">
    <div 
    class=" border-white border-solid rounded-md flex flex-col gap-2" 
    class:border={!expanded}
    class:border-t={expanded}
    class:border-r={expanded}
    class:border-l={expanded}
    >
    <button 
    on:click={toggle}
    class="flex gap-2 z-20 justify-between my-1 mx-2" >
    <!-- {  platformSelectText } -->
    {#if expanded}
        <IconChevronUp size={24} stroke={2} />
    {:else}
        <IconChevronDown size={24} stroke={2} />
    {/if}
    </button>
    
    
</div>
{#if expanded}
        <div class="top-6 z-10 flex flex-col absolute border-white border-solid rounded-b-md border-r border-l border-b w-full bg-gray-800 gap-2 px-2 pb-1 pt-2" >
            {#each platforms as platform}
            <button 
                on:click={() => togglePlatform(platform)} 
                class="flex gap-2 items-center hover:bg-gray-700">

                <!-- <Checkbox 
                selected={!!$selectedPlatforms.find(x => x.name === platform.name)} 
                
                /> -->
                {platform.name}
            </button>
        {/each}
        </div>
        
    {/if}
</div>

