<script lang="ts">
  import Footer from './lib/Footer.svelte';
  import Header from './lib/Header.svelte';
  import List from './lib/List.svelte';

</script>

<main class="bg-gray-800 text-white w-full h-full p-4 flex flex-col gap-2 overflow-hidden">
  <Header />
  <List />
  <Footer />
</main>

